# Kconfig - Sirrus(TM) 100 DVK board configuration
#
# Copyright (c) 2019 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_SIRRUS_100_DVK

config BOARD
	default "sirrus_100_dvk"

config GPIO
	default y

if ADC

config ADC_0
	default y

endif # ADC

if I2C

config I2C_0
	default y

endif # I2C

if SPI

config SPI_0
	default y

endif # SPI

if USB

config USB_NRF52840
	def_bool y

config USB_DEVICE_STACK
	def_bool y

endif # USB

if IEEE802154

config IEEE802154_NRF5
	default y

endif # IEEE802154

if FLASH && SPI

config SPI_FLASH_W25QXXDV
	default y

if SPI_FLASH_W25QXXDV

config SPI_FLASH_W25QXXDV_GPIO_SPI_CS
	default y

endif # SPI_FLASH_W25QXXDV

endif # FLASH && SPI

endif # BOARD_SIRRUS_100_DVK
