# Kconfig - Sirrus(TM) 100 DVK board configuration
#
# Copyright (c) 2018 Laird Technologies
#
# SPDX-License-Identifier: Apache-2.0

config  BOARD_SIRRUS_100_DVK
	bool "Sirrus 100 DVK"
	depends on SOC_NRF52840_QIAA
