# Kconfig - nRF52 PCA10056 board configuration
#
# Copyright (c) 2016 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_NEWCASTLE

config BOARD
	default "newcastle"

if USB

config USB_NRF52840
	def_bool y

config USB_DEVICE_STACK
	def_bool y

endif # USB

if FLASH

config FLASH_HAS_DRIVER_ENABLED
	def_bool y

config FLASH_HAS_PAGE_LAYOUT
	def_bool y

config SOC_FLASH_NRF
	def_bool y

config SOC_FLASH_NRF_RADIO_SYNC
	def_bool y

config SPI_FLASH_W25QXXDV
	def_bool y

config SPI_FLASH_W25QXXDV_SPI_NAME
	default "SPI_0"

config SPI_FLASH_W25QXXDV_DRV_NAME
	default "W25QXXDV"

config SPI_FLASH_W25QXXDV_INIT_PRIORITY
	default 80

config SPI_FLASH_W25QXXDV_SPI_FREQ_0
	default 8000000

config SPI_FLASH_W25QXXDV_SPI_SLAVE
	default 1

config SPI_FLASH_W25QXXDV_GPIO_SPI_CS
	def_bool y

config SPI_FLASH_W25QXXDV_GPIO_SPI_CS_DRV_NAME
	default "GPIO_0"

config SPI_FLASH_W25QXXDV_GPIO_SPI_CS_PIN
	default 17

config SPI_FLASH_W25QXXDV_GPIO_CS_WAIT_DELAY
	default 50

config SPI_FLASH_W25QXXDV_FLASH_SIZE
	default 67108864

config SPI_FLASH_W25QXXDV_DEVICE_ID
	default 0x00c22817

endif # FLASH


endif # BOARD_NEWCASTLE
